<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <footer>
        <!-- Seccion 1 -->
        <section>
            <div class="contenedor-footer-ico"><i class="fas fa-credit-card ico-footer"></i></div>
            <h3><strong>Pagá con tarjeta o efectivo</strong></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <!-- Seccion 2 -->
        <section>
            <div class="contenedor-footer-ico"><i class="fas fa-gift ico-footer"></i></div>
            <h3><strong>Envío gratis desde $2500</strong></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <!-- Seccion 3 -->
        <section>
            <div class="contenedor-footer-ico"><i class="fas fa-user-shield ico-footer"></i></div>
            <h3><strong>Seguridad, de principio a fin</strong></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <!-- Seccion 4 -->
        <section>
            <h3><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></h3>
        </section>
    </footer>

    
</body>
</html>