<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresá</title>
    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <!-- CSS -->
    <link href="/css/mainHome.css" rel="stylesheet" type="text/css">
    <link href="/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <section class="contenedor-logo-busqueda">
<!-- LOGO -->
            <div class="logo-busqueda-box">
                <div class="Logo-contenedor">
                    <div class="LOGO"><a href="http://mercado-liebre-soria.herokuapp.com"><img  alt="Logo ML" src="/images/logo-mercado-liebre.svg"></a>
                    </div>
                </div>
                <!-- BUSQUEDA-->
                <div class="buscador">
                    <form id="search-form" action="/search" method="get">
                        <input type="search">
                    </form>
                    <button class="boton-buscar"><a><i class="fas fa-search"></i></a></button>
                </div>
                
            </div>
<!-- ICONO  CUOTAS-->
                <div class="ico-y-cuotas"><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
                </div>
        </section>


<!-- BARRA DE NAVEGACION -->
<nav class="nav-header">
    <ul class="nav-left">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>

    <ul class="nav-right">
        <li><a href="/register"><i class="fas fa-id-card"></i>Creá tu cuenta</a></li>
        <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Ingresá</a></li>
        <li><a href=""><i class="fas fa-shopping-cart"></i>Mis Compras</a></li>
    </ul>
</nav>
<!-- HAMBURGUESA -->
<div class="burger-menu">
    <i class="fas fa-bars"></i>


<nav class="menu-magico">
    <ul class="menu-magico-left">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>

    <ul class="menu-magico-right">
        <li><a href="/register"><i class="fas fa-id-card"></i>Creá tu cuenta</a></li>
        <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Ingresá</a></li>
        <li><a href=""><i class="fas fa-shopping-cart"></i>Mis Compras</a></li>
    </ul>
</nav>
</div>
    </header>
    <main>
        <form action="/login" method="post">
            <div>
                <div>
                    <input class="input-to-fill" type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario"> 
                </div>
                
                <div>
                    <input class="input-to-fill" type="password" name="pass" id="pass" placeholder="Tu Password">
                </div>
            </div>
            <div class="buttons">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>


    <div class="separador">  </div>


    
    <footer>
        <!-- Seccion 1 -->
        <section class="foot1">
            <div class="contenedor-footer-ico"><i class="fas fa-credit-card ico-footer"></i></div>
            <h3><strong>Pagá con tarjeta o efectivo</strong></h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <!-- Seccion 2 -->
        <section class="foot2">
            <div class="contenedor-footer-ico"><i class="fas fa-gift ico-footer"></i></div>
            <h3><strong>Envío gratis desde $2500</strong></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <!-- Seccion 3 -->
        <section class="foot3">
            <div class="contenedor-footer-ico"><i class="fas fa-user-shield ico-footer"></i></div>
            <h3><strong>Seguridad, de principio a fin</strong></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>
        <!-- Seccion 4 -->
        <section class="copyright">
            <h4><strong>Copyright © 1999-2022 MercadoLiebre S.R.L.</strong></h4>
        </section>
    </footer>
    <div class="fin"></div>
    
</body>
</html>

