<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bienvenidx a Mercado Liebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <!-- CSS -->
    <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>

    <main>
        
        <!-- Seccion 1 -->
        <section class="seccion-articulos">
            <div class="articulos-indiv">
                <img src="/images/img-cafetera-moulinex.jpg" width="300" alt="CAFETERA">
                <div  class="caja-descripcion-art">
                    <div class="shipping-contenedor">
                        <em class="fas fa-shipping-fast"></em>
                    </div>          <!-- cambiand solo en este para despues copiarlo a todos-->
                    <div class="caja-precio-oferta">
                            <p class="price">$6770</p>
                        <p class="discount">40% OFF</p>
                    </div>
                    <p class="description">Cafetera Moulinex</p>
                </div>
            </div>           
                
        </section>  
                
                
                
                
                
                
                
                
                
        <section> 
                <div class="articulos-indiv">
                    <img src="/images/img-macbook-pro-2019.jpg" width="300" alt="MAC">
                    <div class="caja-descripcion-art">
                        <i class="fas fa-shipping-fast"></i>
                        <p class="price">$230000</p>
                        <p class="discount">20% OFF</p>
                        <p class="description">MacBook PRO 2019</p>
                    </div>
                </div> 
                <div class="articulos-indiv">
                    <img src="/images/img-samsung-galaxy-s10.jpg" width="300" alt="SAMSUNG">
                    <div class="caja-descripcion-art">
                        <i class="fas fa-shipping-fast"></i>
                        <p class="price">$70500</p>
                        <p class="discount">10% OFF</p>
                        <p class="description">Samsung Galaxy S10</p>
                    </div>
                </div>
                <div class="articulos-indiv">
                    <img src="/images/img-tv-samsung-smart.jpg" width="300" alt="TV">
                    <div class="caja-descripcion-art">
                        <i class="fas fa-shipping-fast"></i>
                        <p class="price">$23200</p>
                        <p class="discount">5% OFF</p>
                        <p class="description">SmartTv Samsung "43</p>
                    </div>
                </div class="articulos-indiv">
        </section>

    </main>
    
</body>

</html>