<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate en MercadoLiebre</title>
    <!-- ICONOS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet"/>
    <!-- CSS -->
    <link href="/css/mainHome.css" rel="stylesheet" type="text/css">
    <link href="/css/register.css" rel="stylesheet" type="text/css">
</head>

</head>
<body>
    <header>
        
        <section class="contenedor-logo-busqueda">
<!-- LOGO -->
            <div class="logo-busqueda-box">
                <div class="Logo-contenedor">
                    <div class="LOGO"><a href="http://mercado-liebre-soria.herokuapp.com"><img  alt="Logo ML" src="/images/logo-mercado-liebre.svg"></a>
                    </div>
                </div>
                <!-- BUSQUEDA-->
                <div class="buscador">
                    <form id="search-form" action="/search" method="get">
                        <input type="search">
                    </form>
                    <button class="boton-buscar"><a><i class="fas fa-search"></i></a></button>
                </div>
                
            </div>
<!-- ICONO  CUOTAS-->
                <div class="ico-y-cuotas"><i class="fas fa-hand-holding-usd">Comprá en cuotas y sin tarjeta de crédito</i>
                </div>
        </section>


<!-- BARRA DE NAVEGACION -->
<nav class="nav-header">
    <ul class="nav-left">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>

    <ul class="nav-right">
        <li><a href="/register"><i class="fas fa-id-card"></i>Creá tu cuenta</a></li>
        <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Ingresá</a></li>
        <li><a href=""><i class="fas fa-shopping-cart"></i>Mis Compras</a></li>
    </ul>
</nav>
<!-- HAMBURGUESA -->
<div class="burger-menu">
    <i class="fas fa-bars"></i>


<nav class="menu-magico">
    <ul class="menu-magico-left">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
    </ul>

    <ul class="menu-magico-right">
        <li><a href="/register"><i class="fas fa-id-card"></i>Creá tu cuenta</a></li>
        <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Ingresá</a></li>
        <li><a href=""><i class="fas fa-shopping-cart"></i>Mis Compras</a></li>
    </ul>
</nav>
</div>
    </header>
    <main>
        
        <form action="/register" method="get">
        <div>
            <input class="input-to-fill" type="text" name="nombre-apellido" id="nombre-apellido" placeholder="Nombre y Apellido">
        
        </div>
        <div>
            <input class="input-to-fill" type="text" name="usuario" id="nombre" placeholder="Nombre de Usuario">
        </div>
        
        <div>
            <label for="nacimiento"><h3 class="negrita">Fecha de Nacimiento</h3></label>
            <input class="input-to-fill" type="date" name="nacimiento" id="nacimiento" >
        </div>
        
        <div>
            <input class="input-to-fill" type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
        </div>
        
        <div>
            <h3 class="negrita">Perfil de Usuario:</h3>
            <label for="Comprar">Comprar</label>
            <input type="radio" name="perfil-de-usuario" id="perfil-de-usuario" value="Comprar">
            <label for="Vender">Vender</label>
            <input type="radio" name="perfil-de-usuario" id="perfil-de-usuario" value="Vender">
            </div>
        
        <div class="intereses-container">
            <div id="intereses">
                <h3 class="negrita gustos" for="categorias-interes">Cuales son tus gustos?</h3>
                <input type="checkbox" name="categorias-interes" id="categorias-interes" value="Electrónica">
                    <label for="Electrónica">Electrónica</label><br>
                <input type="checkbox" name="categorias-interes" id="categorias-interes" value="Deportes">
                    <label for="Deportes">Deportes</label><br>
                <input type="checkbox" name="categorias-interes" id="categorias-interes" value="Hogar">
                    <label for="Hogar">Hogar</label><br>
                <input type="checkbox" name="categorias-interes" id="categorias-interes" value="Música">
                    <label for="Música">Música</label><br>
                <input type="checkbox" name="categorias-interes" id="categorias-interes" value="Moda">
                    <label for="Moda">Moda</label><br>
                <input type="checkbox" name="categorias-interes" id="categorias-interes" value="OTROS">
                    <label for="OTROS">OTROS</label><br>
            </div>
        </div>
        
        <div class="foto-upload">
            <label for="foto" name="foto"></label>
            <input type="file" id="foto" accept=".jpg .png .bmp" required>
        </div>
        
        <div class="pass-text">
            <label for="pass">Ingresá tu Nuevo Password</label><br>
            <input class="input-to-fill" type="password" name="pass" id="pass">
        </div>
        <div class="pass-text">
            <label for="pass-confirm">Confirmá tu Nuevo Password</label><br>
            <input class="input-to-fill" type="password" name="pass-confirm" id="pass-confirm">
        </div>
        <div class="buttons">
            
            <button type="submit" name="submit">Enviar</button>
            
            <button type="reset" name="reset">Borrar</button>
        </div>
        
        
        
        </form>
    </main>


</body>
</html>