@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

main{
    margin-top: 10vh;
}
main div {
  display: block;
  margin: 3vh;
  margin-top: 4vh;
}
/*HEADER SEARCH*/
#search-form {
  display: block;
  width: 100%;
  height: 100%;
}

input {
  border: none;
  border-bottom: solid 1px black;
  border-radius: 8%;
  background-color: #ebebeb;
}
input.input-to-fill {
  width: 65%;
}
input[type="text" i],
input[type="password" i]{
    font-family: "Roboto", sans-serif;

}
.buttons {
  margin-top: 7vh;
 


}
button{
    font-family: "Roboto", sans-serif;
    font-size: 00.8em;
    background-color:#ebebeb;
    color: #03264c;
    border-style: none;
    border-radius: 8%;
}
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/* TABLET */
@media (min-width: 481px) {
  input.input-to-fill {
    width: 50%;
  }
}

/* LAPTOP */
@media (min-width: 769px) {
  button{
    transition: all 450ms;
  }
  button:hover{
    background-color: #0022AA;
    color: #ebebeb
  }
}

/* DESKTOP */
@media (min-width: 1280px) {
  form {
    margin-top: 10vh;
  }
  input.input-to-fill {
    width: 25%;
  }
  button{
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
