@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

body {
}
main {
}
main div {
  display: block;
  margin: 3vh;
}
input {
  border: none;
  border-bottom: solid 1px black;
  border-radius: 8%;
  background-color: #ebebeb;
}
.negrita {
  font-size: 1rem;
  font-weight: 700;
}
.nacimiento {
  margin-top: 0;
  margin-bottom: 0.8vw;
}
div.intereses-container {
  display: flex;
  justify-content: center;
}
#intereses {
  text-align: justify;
  margin-top: -3%;
}

.pass-text {
  font-size: 00.8em;
}
.buttons {
  margin-top: 7vh;
}
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
/* TABLET */
@media (min-width: 481px) {
}

/* LAPTOP */
@media (min-width: 769px) {
}

/* DESKTOP */
@media (min-width: 1280px) {
}
